.group-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 10%;
}

.group-link {
    text-decoration: none;
    color: #E4EDDB;
    cursor: pointer;
}

.group-item {
    background: #307672;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: 0.4s;
    color: #E4EDDB;
}

.group-item:hover {
    background: #1A3C40;
    border-radius: 15px;
    transition: 0.4s;
}

.group-item img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.button {
    border: none;
    outline: none;
    padding: 5% 5%;
    background: #307672;
    color: #E4EDDB;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: solid;
    transition: 0.3s;
}

.button:hover {
    background: #1A3C40;
    border-radius: 20px;
    transition: 0.3s;
}

.loading {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.filter-bar {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    background-color: #307672;
    padding: 10px;
    border-radius: 10px;
}

.my-input {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    background: #E4EDDB;
    border-radius: 10px;
    margin-bottom: 10px;
}


.selector {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    border-radius: 10px;
    background: #E4EDDB;
    border: none;
    outline: none;
}

.my-button {
  font-family: 'Comfortaa', cursive;
  border: none;
    outline: none;
    padding: 10px;
    background: #307672;
    color: #E4EDDB;
    cursor: pointer;
    border-radius: 10px;
    border: solid;
    transition: 0.3s;
}

.my-button:hover {
    background: #1A3C40;
    border-radius: 15px;
    transition: 0.3s;
}